*{
    font-family: 微軟正黑體;
}

html{

    background-color:rgb(250, 234, 191);
}
.sidebar-container {
    border-radius: 30px;
    position: fixed;
    width: 320px;
    height: 100%;
    left: 0;
    background-color: #99c1fc;
    color:white;
    overflow-x: hidden;
    overflow-y: auto;
}

@media (min-width: 576px){
    .jumbotron {
        padding: 1rem 2rem;
        font-family: monospace;
        
    }  
}


.jumbotron {
    padding: 1rem 2rem;
    margin-bottom: 0rem;
    background-color:rgb(250, 234, 191);
    border-radius: .3rem;
}

.jumb{
    
    padding: 1rem 2rem;
    margin-bottom: 0rem;
    background-color:rgb(245, 193, 135);
    border-radius: .3rem;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    background-color:rgb(250, 234, 191);
    

}

.content-container {
    padding-bottom: 5px;
    height:100%;
}

.sidebar-logo {
    height: 200px;
    background-color:#e9ecef;
  
}

.img logo-img{

    width: 320px; 
    height: 200px; 
   
    
}


.sidebar-head{
    color:white;
    padding:5px 0px 0px 28px;
    font-size:30px;
    background: rgb(231, 151, 85);
    font-family: monospace;
    height:50px;
}



.sidebar-content{
    background-color: #99c1fc;
    height:100%;
    padding: 0px 20px 0px 20px;
}

.sidebar-line{

    height:3px;  
    background-color: white;
    font-family: monospace;
}


.sidebar-line1{

    height: 5px;  
    background: rgb(231, 151, 85);
    font-family: monospace;
}

.sidebar-font-title{
    font-size: 17px;
    padding:15px 0px 0px 30px;
}

.sidebar-font-content{
    padding:5px 0px 0px 50px;
}

.btn-secondary {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #dee2e6;
    width: 170px;
}

.btn-primary {
    width: 80%;
    color: #fff;
    background-color: rgb(233, 199, 107);
    border-color: rgb(255, 229, 157);
}

.sidebar-button{
    padding:30px 0px 0px 10px;

}

.content-container {
    padding-left: 320px;
    background-color:rgb(250, 234, 191);
    
}

.form-control:focus {
    box-shadow: none;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}
.folder-style{
    font-size: 22px;
    text-align:center;
    padding-left:40px;
}  

.folder-pad{
    padding-top: 8px;
    padding-left:0px;
    font-size:22px;
    
}  


.folder-button{
    padding-top: 5px;

}

.folder-name{
    background-color: bisque;
    border-radius: 10px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .bootstrap-tagsinput{
    min-height: 48px;
    height: auto;
  }

/* .tagscroll {
    flex: 1 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
  } */

