{% extends "layout.html" %}
{% load bootstrap4 %}
{% load static %}
{% block main %}


<div class="sidebar-container">
    <div class="sidebar-logo center"> 
        <img src="static/img/logo.jpeg" class="logo-img">
    </div>
    <div class="sidebar-line1">
        &nbsp;
    </div>
    <div class="sidebar-head">
        新增書籤
    </div>
    <div class="sidebar-line1">
        &nbsp;
    </div>
    <br>
    <div class="sidebar-content">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form pageform %}
            {% buttons %}

            <button type="submit" class="btn btn-primary">
                確定
            </button>
            {% endbuttons %}
        </form>
        {% comment %} <div class="sidebar-font-title">
            名稱
        </div>
        <div class="sidebar-font-content">
            <input>
        </div>
        <div class="sidebar-font-title">
            網址
        </div>
        <div class="sidebar-font-content">
            <input>
        </div>
        <div class="sidebar-font-title">
            類別
        </div>
        <div class="sidebar-font-content">
            <div class="btn-group">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    資料夾類別放這邊
                </button>
            </div>
        </div>
        <div class="sidebar-font-title">
            標籤
        </div>
        <div class="sidebar-font-content">
            <input>
        </div>
        <div class="sidebar-button">
            <button type="submit" class="btn btn-primary">確認
            </button>
        </div> {% endcomment %}
    </div>
</div>

<div class="content-container">
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>apple's BOMA</h1>
            
            <br>
            <div class="row padding-top">
                <div class="col-10">
                    <div class="input-group mb-4">
                        <input type="search" aria-describedby="button-addon5" class="form-control">
                        <div class="input-group-append">
                            <button id="button-addon5" type="submit" class="btn btn-primary">
                                <i class="icon ion-md-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary">新增類別
                    </button>
                </div>
            </div>
            <div class="folder-name">
                <br>
                <div class="row ">
                    <div class="col-8 folder-style">
                        <a href="#">
                            <i class="icon ion-md-folder"></i> 我的最愛
                        </a>
                    </div>
                </div>
                <br>
                <div class="row ">
                    <div class="col-8 folder-pad">
                        <a href="#">
                            <i class="icon ion-md-folder"></i> XXX
                        </a>
                    </div>
                        <div class="col-4">
                            <div class="row folder-button">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary">刪除
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="submit" class="btn btn-primary">重新命名
                                    </button>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class=" modal fade mt-5" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style=color:black>新增資料夾</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form folderform %}

                    {% buttons %}
                    <button type="submit" class="btn btn-primary">確認
                    </button>
                    {% endbuttons %}
                </form>
            </div>

        </div>
    </div>
</div>

<script>
$("#id_tags").attr({"data-role":"tagsinput"})
$("small").css('display', 'none');
</script>
{% endblock %}