<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>boma</title>
    {# Load the tag library #}
    {% load bootstrap4 %}

    <link rel="stylesheet" href="/static/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <link rel="stylesheet" href="/static/css/jquery.tagsinput.css">
    <script src="/static/js/jquery.tagsinput.js"></script>
</head>



<body>
    <div class="container-fluid">
        {% bootstrap_messages %}
        {% block main %}{% endblock %}
    </div>
</body>

</html>
